<div class="container">
	<mat-card>
		<mat-card-content>
			<section class="student">
				<h2>Alumno:</h2>
				<span class="student__name">Messi Ronaldo</span>
			</section>

			<form class="register-form" [formGroup]="formGroup" (ngSubmit)="saveData()">
				<section class="questions">
					<mat-slide-toggle formControlName="doYouPayAttentionToClasses"
						>Presta atención a las clases?</mat-slide-toggle
					>
					<mat-slide-toggle formControlName="doYouSubmitYourAssignmentsOnTime"
						>Presenta sus tareas a tiempo?</mat-slide-toggle
					>
					<mat-slide-toggle formControlName="missingClasses">Falta a clases?</mat-slide-toggle>
				</section>

				<h3>Observaciones:</h3>

				<mat-form-field appearance="outline" subscriptSizing="dynamic">
					<mat-label>Observaciones</mat-label>
					<input matInput formControlName="observations" />
					<mat-error>{{ getError(formGroup.controls.observations) }} </mat-error>
				</mat-form-field>

				<br />
				<h3>Datos de los padres</h3>
				<app-person-data-middle title="Datos del Padre:" controlKey="dataFather" />

				<br />
				<app-person-data-middle title="Datos de la Madre:" controlKey="dataMother" />

				<br />
				<button mat-raised-button color="primary">Guardar</button>
			</form>
		</mat-card-content>
	</mat-card>
</div>
